.grid-box {
    flex: 1;
    padding: 0 10px 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(120px, 120px));
    gap: 20px;
}

.app-item {
    padding: 20px 20px;
    height: 120px;
    /* background-image: url(/img/home.jpg); */
    box-shadow: 0px 2px 12px rgba(198, 206, 242, 0.5);
    border-radius: 8px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.app-item img {
    height: 48px;
    width: 48px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
}

.title-name {
    display: flex;
    align-items: center;
}

.title-name .app-name {
    font-weight: 550;
    color: #555;
    padding-right: 16px;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
}


.app-desc {
    font-size: 14px;
    margin-top: 10px;
    width: calc(100% - 100px);
    color: #666;
}